@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("./assets/Inter-variable.ttf");
}

body {
    font-family: "Inter", sans-serif;
    @apply bg-black;
    @apply text-white;
}

:root {
    --animate-duration: 0.1s;
}

.home-image {
    transform: scale(2.8);
    position: relative;
    top: 240px;
}
